@import '~bootstrap/scss/bootstrap';
@mixin fontType {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400&family=IBM+Plex+Mono:ital,wght@1,100&display=swap');
$desktopBP: 'screen and (min-width : 1024px)';
$tabletBP: 'screen and (max-width : 1024px)';
$mobileBP: 'screen and (max-width : 360px)';
$desktopWidth: 25%;
$tabletWidth: 60%;
$mobileWidth: 90%;

@mixin titleFont {
  font-size: 1.1em;
  color: #7c7a7a;
}
@mixin descFont {
  font-size: 1em;
  color: #999496;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: #21094e;
}
#root {
  // display: grid;
  // grid-template-rows: auto 70%;
  height: 100%;
}

.add-note-bar {
  padding: 5px;
  // background-color: #4ca1a3;
  width: 305px;
  height: fit-content;
  margin: 0 auto;
  background-color: #4ca1a3;
  z-index: 3;

  // min-height: 132px;

  .title {
    color: black;
    margin: 5px 5px 5px 5px;
    outline: none;
    border: none;
    font-family: Padauk;
    font-weight: 700;
    font-size: 20px;

    // display: none;
    &::placeholder {
      color: #000;
    }
  }
  .desc {
    margin: 5px 5px 5px 5px;

    color: rgb(19, 16, 16);
    font-family: Ruhl;
    font-weight: 500;
    font-size: 18px;
    &:focus {
      outline: none;
      border: none;
    }
  }
  .bottom-tools {
    margin: 5px 5px 5px 70%;

    padding: 5px;
    display: flex;
    justify-content: flex-end;
    // transition: 'all 0.1s ';
    svg:first-of-type {
      margin: 5px;
      width: 22px;
      height: 22px;
      color: #0a750c;
      border-radius: 10px;
      background-color: #a5e1ad;
    }
    svg:last-of-type {
      margin: 5px;
      color: #b61a63;
      border-radius: 10px;
      background-color: #a5e1ad;
      width: 22px;
      height: 22px;
    }
  }
}
.add-card {
  align-self: center;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.note-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);

  grid-template-rows: auto;
  grid-row-gap: 20px;
  grid-column-gap: 40px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  // height: 100%;
}

.material-icons {
  background: none;
  color: none;
}

.popover-body {
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  svg {
    border-radius: 50px;
    border: none;
    outline: none;

    stroke-width: 0px;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    margin: 0.2em;
    &:hover {
      border: 1px solid hsl(0, 1%, 15%);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .note-container {
    // grid-template-columns: auto auto;
  }
}
// @media only screen and (max-width:600px){
//   .note-container {
//   grid-template-columns: auto auto ;
//   grid-template-rows: auto auto auto;
// }
// }
@media only screen and (max-width: 360px) {
  .note-container {
    // grid-template-columns: auto;
    // top: 38%;
  }
  .add-note-bar {
    width: 270px;
    .bottom-tools {
      margin: 5px 5px 5px 60%;
    }
  }
}

.overlay {
  top: 0;
  padding-top: 40px;
  height: 100%;
  background-color: #213636;
  opacity: 0.9;
  z-index: 2;
}
